div#citacao{
    display: inline;
    width: 945px;
    height: 400px;
}

blockquote{
    display: inline-block;
    text-align: right; font-size: 25px;
    width: 149px; height: 268px;
    margin-top: 25px; margin-left: 40px; margin-right: 40px;

}


img#steve{
    width: 380px;
    height: 400px;
    display: inline;
    
}